<ion-footer class="ion-no-border">
  <ion-toolbar class="footer-toolbar">
    <div class="footer-container">
      <div class="logo-section">
        <img src="https://frontendbase.cdmx.gob.mx/file-server/logotipos/gobcdmx/logotipo_gob_cdmx.png" 
             alt="CDMX Logo Footer" 
             class="footer-logo">
      </div>
      
      <div class="social-section">
        <ion-button fill="clear" color="light">
          <ion-icon slot="icon-only" name="logo-facebook"></ion-icon>
        </ion-button>
        <ion-button fill="clear" color="light">
          <ion-icon slot="icon-only" name="logo-twitter"></ion-icon>
        </ion-button>
        <ion-button fill="clear" color="light">
          <ion-icon slot="icon-only" name="logo-instagram"></ion-icon>
        </ion-button>
      </div>
    </div>
  </ion-toolbar>
</ion-footer>